/*ESTILOS AUTOR */

.fondo-autor{
  width:70%;
  margin: 10px auto;
}

.img-perfil {
  background-image: url("../img/yo.jpg");
  background-position: center;
  background-size: 150px 150px;
  height:150px;
  width: 150px;
  margin:0px auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border:3px solid #666;
  position: relative;
  top:35px;
  z-index: 4;
}



.color-fondo-autor{
background: #fac695; /* Old browsers */
background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */

}

.color-fondo-autor-cards{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */

}/* Empty. Add your own CSS if you like */


/* Estilos APP */

.keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }


.fondo-inicio{
  background-image: url("../img/fondo.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.div-ingreso{
  background: rgb(207,231,250); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */

  width:80%;
  height:60%;

  border-radius: 0px 30px 0px 30px;
  -moz-border-radius: 0px 30px 0px 30px;
  -webkit-border-radius: 0px 30px 0px 30px;

  margin:15% auto;

}

.text-ingreso {
  width:100%;
  margin:20px 0;
  background: rgb(255,26,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,26,0,1) 0%, rgba(255,93,0,1) 20%, rgba(249,212,0,1) 35%, rgba(249,212,0,1) 35%, rgba(206,252,0,1) 69%, rgba(46,255,0,1) 90%, rgba(0,252,126,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,26,0,1) 0%,rgba(255,93,0,1) 20%,rgba(249,212,0,1) 35%,rgba(249,212,0,1) 35%,rgba(206,252,0,1) 69%,rgba(46,255,0,1) 90%,rgba(0,252,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,26,0,1) 0%,rgba(255,93,0,1) 20%,rgba(249,212,0,1) 35%,rgba(249,212,0,1) 35%,rgba(206,252,0,1) 69%,rgba(46,255,0,1) 90%,rgba(0,252,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#00fc7e',GradientType=1 ); /* IE6-9 */

  font-family: 'Indie Flower', cursive;
  
}

.titulo-ingreso {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.boton-ingreso {
  margin:10px 17%;
  width:60%;
  font-family: 'Indie Flower', cursive;
  font-size:20px;
}

.boton-grabar{
  margin:10px 16%;
  width:65%;
  font-family: 'Indie Flower', cursive;
}


/*MEDIA QUERIES*/


@media (max-width: 780px) and (orientation: landscape){

  .boton-grabar{
    margin: 2px 16%;
  }

}